<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ritlocale">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Map">

        </activity>
        <activity android:name=".pc_bookvenue"></activity>
        <activity android:name=".Pc_viewvenue"></activity>
        <activity android:name=".pc_editprofile" />
        <activity android:name=".notifications"></activity>
        <activity android:name=".calendar" />
        <activity android:name=".events"></activity>
        <activity android:name=".pc_home" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".vc_venueadd" />
        <activity android:name=".vc_venuedit" />
        <activity android:name=".vc_venues" />
        <activity android:name=".vc_bookreq" />
        <activity android:name=".Venuecd_home" >


        </activity>
        <activity android:name=".addimage" />
        <activity android:name=".hod_psdchng" />
        <activity android:name=".venuerequest_hod" />
        <activity android:name=".registration_approval" />
        <activity android:name=".Editpro_hod" />
        <activity android:name=".hod_userprofile" />
        <activity android:name=".hod_home" >


        </activity>

        <activity android:name=".viewvenues" />
        <activity android:name=".viewusers" />
        <activity android:name=".addhod" >

        </activity>
        <activity android:name=".adminhome">


        </activity>
        <activity android:name=".adddept" >

        </activity>

        <activity android:name=".login">


        </activity>
        <activity android:name=".registration_main" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>